# Ambiente virtual
.venv/
venv/
env/

# Modelo salvo localmente (gerado automaticamente na primeira execução)
model.pkl
vectorizer.pkl

# Python
__pycache__/
*.py[cod]
*.pyo

# Streamlit
.streamlit/secrets.toml

# Sistema
.DS_Store
Thumbs.db
